{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
  <div class="page-header">
    <h1>Rango says...</h1>
    hey {{ message }}
  </div>
  <div>
    <p>
      You visited Rango {{visits}} times!
      <br />

      <button onClick="alert('You clicked the button using Javascript.');">
        Click Me - I run Javascript
      </button>

      <button id="about-btn"> Click Me - I'm Javascript on Speed</button>
        <p>This is a example</p>

        <p>This is another example</p>

      <img src="/media/icon_mrgreen.gif" alt="Mr Green" />
    </p>
  </div>
{% endblock %}
