<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="{% static 'rango/css/style.css' %}" rel="stylesheet" media="screen">
        <title>Rango</title>
    </head>

    <body>
        <section>
            {% block content %}
            {% endblock %}

            {% if error_dictionaries %}
                {% for dict, data in error_dictionaries.items %}

                    {% comment %}
                        'dict' is the name of sub dictionarry we stored.
                        Its 'data' is the HTML code we need to display.
                        It only makes sense to do so if there is actual content
                    {% endcomment %}
                    
                    {% if data %}
                    <div class="fail">
                        {{ data }}
                    </div>
                    {% endif %}
                
                {% endfor %}
            {% endif %}
            <footer>
                <ul>
                    <li><a href="/rango">Index</a></li>
                    {% if user.is_authenticated %}
                        <li> Not {{ user.username }}? <a href="/rango/logout/">Logout</a>!</li>
                    {% else %}
                        {% if 'login/' not in request.build_absolute_uri %}
                            <li><a href="/rango/login/">Login</a></li>
                        {% endif %}
                        {% if 'register/' not in request.build_absolute_uri %}
                            <li><a href="/rango/register">Register</a></li>
                        {% endif %}
                    {% endif %}
                    {% block myfooter %}
                    {% endblock %}
                    <li><a href="/rango/about/">About</a></li>
                </ul>
            </footer>
        </section>
    </body>
</html>