{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
        
        <a href="{% url 'restricted' %}">Restricted Page Test</a>
        <br />
        <a href="{% url 'logout' %}">Logout</a>
        <br />
    {% else %}
        <h1>Rango says...</h1>
        hello world! <strong>{{ boldmessage }}</strong>
        <br />
    
        <a href="{% url 'login' %}">Login</a>
        <br />
        or
        <br />
        <a href="{% url 'register' %}">Register Here!</a>
        <br />
    {% endif %}

    {% if categories %}
    <ul>
        {% for category in categories %}
        <li><a href="{% url 'category' category.slug %}">
                {{ category.name }}
            </a>({{ category.likes }} likes)
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    {% if pages %}
    <ul>
        {% for page in pages %}
        <li>With {{ page.views }} views: 
            <a href="{{ page.url }}">
                {{ page.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no pages present.</strong>
    {% endif %}

    <img src="{% static "rango/images/rango.jpg" %}" alt="Picture of Rango" /> 
{% endblock %}

{% block myfooter %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
    {% endif %}
{% endblock %}