{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% if user_data %}
{% block title %}{{ user_data.username }}{% endblock %}
{% endif %}

{% block content %}
    {% if user_data %}
      {% if user_data.id == request.user.id %}
      <div class="page-header">
          <h1>Hello {{ user_data.username }},</h1>
          <h2>Your Rango profile information:</h2>
      </div>
      {% else %}
      <div class="page-header">
        <h1>{{ user_data.username }}</h1>
        <h2>Rango profile information:</h2>
      </div>
      {% endif %}
    <div>
      <p>
        {% if user_profile_data and user_profile_data.picture.url != '' %}
          <img src="{{ user_profile_data.picture.url }}" alt="{{user_data.username}} picture" class="rounded float-left mx-auto" />
        {% else %}
          <span class="fa fa-user fa-5x"></span>
        {% endif %}

        <strong>Username</strong>: {{ user_data.username }}
        <br />
        <strong>E-mail</strong>: {{ user_data.email }}
        <br />
        {% if user_profile_data %}
        <strong>Web-site</strong>: {{ user_profile_data.website }}
        <br />
        {% endif %}

        {% if user_data.id == request.user.id %}
        <br />
          <a href="{% url 'rango:edit_profile' user_data.id %}" class="btn btn-info btn-lg">
            <span class="fa fa-pencil"></span> Edit
          </a>
          <br />
          <!-- Keeping this for the records
          <a href="{% url 'rango:edit_profile' user_data.id %}">
              <span class="fa fa-pencil"></span>
            </a>
          -->
        {% endif %}

      </p>
    {% else %}
    <p>
        No user data specified
    </p>
    {% endif %}
  </div>
{% endblock %}
