{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}Users list{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Rango Users</h1>
        <h2></h2>
    </div>
    <div>
      {%if profiles %}
      <p>
        {% for profile in profiles %}
          <a href="{% url 'rango:profile' profile.user.id %}">
            <img src="{{ profile.picture.url }}" alt="{{user_data.username}} picture" class="rounded" style="float: top" />
          </a>
          <strong>{{ profile.user.username }}</strong> | {{ profile.user.email }} | {{ profile.website }}
          <br />
        {% endfor %}
      </p>
    {% else %}
    <p>
        There are no users yet!
    </p>
    {% endif %}
  </div>
{% endblock %}
